.ilha-form {
  background-color: $white;

  button {
    text-transform: uppercase;
    font-size: 0.95em;
  }

  @media screen and (max-width: 768px) {
    &.m-3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.ilha-password-updater-btn {
  display: inline-block;

  .modal {
    text-align: justify;
    .animation-content {
      width: 70%;
    }
  }
}