i.ilha-icon {
  display: inline-block;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1em;
  height: 1em;
  &.chart {
    background-image: url('#{$admin-budy-assets-path}/icons/chart.svg');
  }
  &.dashboard {
    background-image: url('#{$admin-budy-assets-path}/icons/dashboard.svg');
  }
  &.edit {
    background-image: url('#{$admin-budy-assets-path}/icons/edit.svg');
  }
  &.form {
    background-image: url('#{$admin-budy-assets-path}/icons/form.svg');
  }
  &.tables {
    background-image: url('#{$admin-budy-assets-path}/icons/tables.svg');
  }
  &.trash {
    background-image: url('#{$admin-budy-assets-path}/icons/trash.svg');
  }
  &.ui-element {
    background-image: url('#{$admin-budy-assets-path}/icons/ui-element.svg');
  }
  &.users {
    background-image: url('#{$admin-budy-assets-path}/icons/users.svg');
  }
  &.users-white {
    background-image: url('#{$admin-budy-assets-path}/icons/users-white.svg');
  }
  &.misc {
    background-image: url('#{$admin-budy-assets-path}/icons/misc.svg');
  }
  &.tag-white {
    background-image: url('#{$admin-budy-assets-path}/icons/tag-white.svg');
  }
  &.trend-white {
    background-image: url('#{$admin-budy-assets-path}/icons/trend-white.svg');
  }
}

.icon.is-xlarge {
  height: 4rem;
  width: 4rem;
}

.ilha-icon-chooser {
  background-color: $white;

  &__body {
    height: 500px;
    overflow: auto;
    text-align: center;

    &__icon {
      display: inline-block;
      cursor: pointer;
      img {
        width: 50px;
      }
    }
  }
}