
.ilha-login {
  height: 100%;
  background: url($login-background) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  > .container {
    width: 100%;
    max-width: 650px;
  }

  .box {
    box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
  }

  &__logo-container {
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 15vh;
    }
  }

  @media (min-width: 769px) {
    &__form {
      padding-right: 0;
    }
  }

}