
.menu-header {
  display: flex;
  align-items: center;
  padding-left: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $primary;
  color: $white;
  &__title {
    flex: 9;
  }
  &__icon {
    flex: 1;
  }
  @media screen and (max-width: 1023px) {
    &__title {
      display: none;
    }
  }
}
/*}*/

.menu-list {
  li {
    margin: 1em 0;

    a {
      display: flex;
      align-items: center;
      padding-left: 1.5em;
      border-left: 5px $white solid;

      span:nth-child(2) {
        margin-left: 1.5em;
      }

      span:nth-child(3) {
        margin-left: auto;
      }

      &.router-link-exact-active {
        background-color: $white;
        color: $text;
        border-left: 5px $primary solid;
      }

      @media screen and (max-width: 1023px) {
        span:nth-child(3)  {
          display: none;
        }
      }
    }

    &.dashboard-link {
      &:after {
        display: block;
        border-bottom: 1px solid $divider;
        content: '';
        margin: 10px 20px;
      }
    }
  }
}


@media screen and (max-width: 1023px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini-mobile {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }
              ul {
                padding-left: 0;
                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }
          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }
              ul {
                padding-left: 0;
                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }
          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
