.ilha-summary-box {
  border: solid 1px white;
  border-radius: 5px;
  &__header {
    margin: 0;
    border-bottom: 1px solid white;
    .column {
      padding: 0.3em;
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid white;
        @media screen and (max-width: 768px) {
          border-left: 0;
          border-top: 1px solid white;
        }
      }
    }

  }
}