$white: #FFFFFF !default;// White - #FFFFFF
$black: #2D2926 !default; // Black - #2D2926
$primary: #1CABE2 !default; // UNICEF Blue - #1CABE2
$primary-invert: findColorInvert($primary) !default;
$danger: #E2231A !default; // Red - #E2231A
$danger-inverter: findColorInvert($danger) !default;
$warning: #FFC20E !default; // Yellow - #FFC20E
$warning-inverter: findColorInvert($warning) !default;
$light: #F5F6FA !default; // Light Grey - #F5F6FA
$light-inverter: findColorInvert($light) !default;
$twitter: #4099FF !default;
$twitter-inverter: findColorInvert($twitter) !default;
$success: #00833D !default; // Dark Green - #00833D
$success-inverter: findColorInvert($success) !default;;
$info: $primary !default;;
$info-inverter: findColorInvert($info) !default;;
$text: hsl(0, 0%, 29%) !default;;
$text-invert: findColorInvert($text) !default;;
$sidebar-width: 350px !default;;
$sidebar-mobile-width: 80px !default;;


// dont buma
$blue-color: #1E87F0 !default;
$yellow-color: #F9D423 !default;
$green-color: #80BD41 !default;
$red-color: #F0506E !default;
$divider: #EFEFEF !default;;
$admin-budy-assets-path: "assets" !default;
// Light Green - #80BD41
// Orange - #F26A21
// Magenta - #961A49
// Violet - #6A1E74
// Warm Grey - #D8D1C9
// Cool Grey - #777779
// Dark Blue - #374EA2