$white: #FFFFFF;// White - #FFFFFF
$black: #2D2926; // Black - #2D2926
$primary: #1CABE2; // UNICEF Blue - #1CABE2
$primary-invert: findColorInvert($primary);
$danger: #E2231A; // Red - #E2231A
$danger-inverter: findColorInvert($danger);
$warning: #FFC20E; // Yellow - #FFC20E
$warning-inverter: findColorInvert($warning);
$light: #F5F6FA; // Light Grey - #F5F6FA
$light-inverter: findColorInvert($light);
$twitter: #4099FF;
$twitter-inverter: findColorInvert($twitter);
$success: #00833D; // Dark Green - #00833D
$success-inverter: findColorInvert($success);
$info: $primary;
$info-inverter: findColorInvert($info);
$text: hsl(0, 0%, 29%);
$text-invert: findColorInvert($text);
$sidebar-width: 350px;
$sidebar-mobile-width: 80px;


// dont buma
$divider: #efefef;
$login-background: 'assets/imgs/login-background.png' !default;
// Light Green - #80BD41
// Orange - #F26A21
// Magenta - #961A49
// Violet - #6A1E74
// Warm Grey - #D8D1C9
// Cool Grey - #777779
// Dark Blue - #374EA2